/*
.sm-ckm {
  background: #eeeeee;
  border-radius: 5px;
}
*/
.sm-ckm a, .sm-ckm a:hover, .sm-ckm a:focus, .sm-ckm a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #555555;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.sm-ckm a.current {
  color: #D23600;
}
.sm-ckm a.disabled {
  color: #bbbbbb;
}
.sm-ckm a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.sm-ckm a .sub-arrow::before {
  content: '+';
}
.sm-ckm a.highlighted .sub-arrow::before {
  content: '-';
}
.sm-ckm > li:first-child > a, .sm-ckm > li:first-child > :not(ul) a {
  border-radius: 5px 5px 0 0;
}
.sm-ckm > li:last-child > a, .sm-ckm > li:last-child > *:not(ul) a, .sm-ckm > li:last-child > ul, .sm-ckm > li:last-child > ul > li:last-child > a, .sm-ckm > li:last-child > ul > li:last-child > *:not(ul) a, .sm-ckm > li:last-child > ul > li:last-child > ul, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  border-radius: 0 0 5px 5px;
}
.sm-ckm > li:last-child > a.highlighted, .sm-ckm > li:last-child > *:not(ul) a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-ckm > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  border-radius: 0;
}
.sm-ckm li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-ckm > li:first-child {
  border-top: 0;
}
.sm-ckm ul {
  background: rgba(162, 162, 162, 0.1);
}
.sm-ckm ul a, .sm-ckm ul a:hover, .sm-ckm ul a:focus, .sm-ckm ul a:active {
  font-size: 16px;
  border-left: 8px solid transparent;
}
.sm-ckm ul ul a,
.sm-ckm ul ul a:hover,
.sm-ckm ul ul a:focus,
.sm-ckm ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-ckm ul ul ul a,
.sm-ckm ul ul ul a:hover,
.sm-ckm ul ul ul a:focus,
.sm-ckm ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-ckm ul ul ul ul a,
.sm-ckm ul ul ul ul a:hover,
.sm-ckm ul ul ul ul a:focus,
.sm-ckm ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-ckm ul ul ul ul ul a,
.sm-ckm ul ul ul ul ul a:hover,
.sm-ckm ul ul ul ul ul a:focus,
.sm-ckm ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}


@media (min-width: 1100000px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-ckm ul {
    position: absolute;
    width: 12em;
  }

  .sm-ckm li {
    float: left;
  }

  .sm-ckm.sm-rtl li {
    float: right;
  }

  .sm-ckm ul li, .sm-ckm.sm-rtl ul li, .sm-ckm.sm-vertical li {
    float: none;
  }

  .sm-ckm a {
    white-space: nowrap;
  }

  .sm-ckm ul a, .sm-ckm.sm-vertical a {
    white-space: normal;
  }

  .sm-ckm .sm-nowrap > li > a, .sm-ckm .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-ckm {
    padding: 0 10px;
/*    background: #eeeeee;*/
  }
  .sm-ckm a, .sm-ckm a:hover, .sm-ckm a:focus, .sm-ckm a:active, .sm-ckm a.highlighted {
    padding: 12px 12px;
    color: #555555;
  }
  .sm-ckm a:hover, .sm-ckm a:focus, .sm-ckm a:active, .sm-ckm a.highlighted {
    color: #D23600;
  }
  .sm-ckm a.current {
    color: #D23600;
  }
  .sm-ckm a.disabled {
    color: #bbbbbb;
  }
  .sm-ckm a.has-submenu {
    padding-right: 24px;
  }
  .sm-ckm a .sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
    background: transparent;
    border-radius: 0;
  }
  .sm-ckm a .sub-arrow::before {
    display: none;
  }
  .sm-ckm li {
    border-top: 0;
  }
  .sm-ckm > li > ul::before,
  .sm-ckm > li > ul::after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
  }
  .sm-ckm > li > ul::after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
  }
  .sm-ckm ul {
    border: 1px solid #bbbbbb;
    padding: 5px 0;
    background: #fff;
    border-radius: 5px !important;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }
  .sm-ckm ul a, .sm-ckm ul a:hover, .sm-ckm ul a:focus, .sm-ckm ul a:active, .sm-ckm ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #555555;
  }
  .sm-ckm ul a:hover, .sm-ckm ul a:focus, .sm-ckm ul a:active, .sm-ckm ul a.highlighted {
    background: #eeeeee;
    color: #D23600;
  }
  .sm-ckm ul a.current {
    color: #D23600;
  }
  .sm-ckm ul a.disabled {
    background: #fff;
    color: #cccccc;
  }
  .sm-ckm ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-ckm ul a .sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-ckm .scroll-up,
  .sm-ckm .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  .sm-ckm .scroll-up:hover,
  .sm-ckm .scroll-down:hover {
    background: #eeeeee;
  }
  .sm-ckm .scroll-up:hover .scroll-up-arrow {
    border-color: transparent transparent #D23600 transparent;
  }
  .sm-ckm .scroll-down:hover .scroll-down-arrow {
    border-color: #D23600 transparent transparent transparent;
  }
  .sm-ckm .scroll-up-arrow,
  .sm-ckm .scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-ckm .scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-ckm.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }
  .sm-ckm.sm-rtl a .sub-arrow {
    right: auto;
    left: 12px;
  }
  .sm-ckm.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-ckm.sm-rtl.sm-vertical a .sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-ckm.sm-rtl > li > ul::before {
    left: auto;
    right: 30px;
  }
  .sm-ckm.sm-rtl > li > ul::after {
    left: auto;
    right: 31px;
  }
  .sm-ckm.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-ckm.sm-rtl ul a .sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-ckm.sm-vertical {
    padding: 10px 0;
    border-radius: 5px;
  }
  .sm-ckm.sm-vertical a {
    padding: 10px 20px;
  }
  .sm-ckm.sm-vertical a:hover, .sm-ckm.sm-vertical a:focus, .sm-ckm.sm-vertical a:active, .sm-ckm.sm-vertical a.highlighted {
    background: #fff;
  }
  .sm-ckm.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .sm-ckm.sm-vertical a .sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-ckm.sm-vertical > li > ul::before,
  .sm-ckm.sm-vertical > li > ul::after {
    display: none;
  }
  .sm-ckm.sm-vertical ul a {
    padding: 10px 20px;
  }
  .sm-ckm.sm-vertical ul a:hover, .sm-ckm.sm-vertical ul a:focus, .sm-ckm.sm-vertical ul a:active, .sm-ckm.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .sm-ckm.sm-vertical ul a.disabled {
    background: #fff;
  }
}

/*# sourceMappingURL=sm-ckm.css.map */


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #333;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
  clear: both;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
  clear: both;
}